<div class="base">
    <div class="logform">

        <h1>Log in!</h1>
        <div>
            <mat-form-field>
                <mat-label for="email">E-mail: </mat-label><input matInput type="text" [formControl]="email" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label for="password">Password: </mat-label><input matInput type="password" [formControl]="password" />
            </mat-form-field>
        </div>

        <div class="footer">
            <span>
                <span><button mat-raised-button color="primary" (click)="login()">Login</button></span>
            </span>
            <p style="margin-top: 13px;">or</p>
            <span>
                <span><button mat-raised-button color="primary" (click)="toregister()">Register</button></span>
            </span>
        </div>
        <div *ngIf="showText">
            Wrong email or password!
        </div>
    </div>
</div>